body {
    background: #4D586C;
    color: white;
}

.calc {
    background: #CEC2C2;
    width: 315px;
    height: 485px;
    margin: auto;
    margin-top: 100px ;
    padding: 5px;
}
.key {
    width: 75px;
    height: 75px;
    background: #000000;
}
._grid {
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: 85px repeat(5,75px);
    gap: 5px;
}
._tablet {
    grid-column: span 4;

}
.tablet {
    background: #ffffff;
    height: 85px;
}